/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	display: inline-block;
	padding: var(--Small) var(--Medium) 6px var(--Medium);
	margin: 0;
	font-size: 18px;
	color: var(--White);
	text-decoration: none;
	cursor: pointer;
	background-color: var(--Blue);
	border-radius: 8px;
	border: none;
	font-weight: 500;
	transition: all 0.35s linear;
	min-width: 130px;
	text-align: center;
	line-height: 1.6;
	font-family: 'Montserrat';

	&:hover,
	&:focus {
		background-color: #007eaf;
	}

	&+button,
	&+.button {
		margin-top: var(--Medium);

		@media(--phone) {
			margin-left: var(--Medium);
		}
	}

	&.is-light {
		color: var(--Black);
		background-color: var(--BlueLight);

		&:hover,
		&:focus {
			background-color: #7fc2df;
		}
	}

	&.is-white {
		color: var(--Black);
		background-color: var(--White);

		&:hover,
		&:focus {
			background-color: var(--White10);
		}
	}

	&.is-grey {
		color: var(--Black);
		background-color: var(--White30);

		&:hover,
		&:focus {
			color: var(--Black);
			background-color: var(--White40);
		}
	}
}