/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
	margin: 2em auto;

	& li {
		margin: var(--Small) 0;
	}
}

ol ul {
	list-style-type: disc;
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: 1em;
		}
	}
}

&.has-3-columns {
	column-count: 1;

	@media(--phone) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 3;

		& li {
			padding-right: 1em;
		}
	}
}

&.has-4-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: 1em;
		}
	}

	@media(--tablet) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 4;
	}
}

/*-----------------------------------*\
	BLOCKED
\*-----------------------------------*/
ul.is-blocked {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	& li {
		background-color: var(--White5);
		padding: var(--Small) var(--Medium);
		border-radius: 8px;
		font-weight: 500;
		text-transform: uppercase;
	}
}