/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: 'Montserrat';

	src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Montserrat';

	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: 'Montserrat';

	src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/Montserrat-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Montserrat';

	src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Caveat';

	src: url('../fonts/Caveat-Regular.woff2') format('woff2'),
		url('../fonts/Caveat-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Caveat';

	src: url('../fonts/Caveat-Bold.woff2') format('woff2'),
		url('../fonts/Caveat-Bold.woff') format('woff');
	font-display: swap;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1;

	& span {
		display: block;
		color: var(--Blue);
	}
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p a:not(.button) {
	color: var(--Blue);
	transition: all 0.15s linear;

	&:hover,
	&:focus {
		color: #007eaf;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--xLarge) auto;
	height: 3px;
	border: 0;
	width: 100%;
	background-color: var(--White10);
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 600px;
	padding: var(--Medium);
	text-align: center;

	& p {
		font-family: 'Caveat';
		font-size: 26px;
		line-height: 1.4;
		margin: var(--Small) 0;

		& b,
		& strong {
			font-size: 20px;
			color: var(--Blue);
		}
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}