/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--White5);
	position: relative;
	padding: var(--Medium) var(--Medium) var(--Small) var(--Medium);

	& nav {
		margin: 0 auto;
		width: 90vw;
		padding: var(--Medium) 0 0 0;

		&>div:first-child {
			text-align: center;
			margin-bottom: 24px;

			& a:not(.logo) {
				display: inline-flex;
				align-items: center;
				justify-content: flex-start;
				color: var(--Black);
				text-decoration: none;
				transition: all 0.15s linear;

				& svg {
					height: 18px;
					width: 18px;
					margin: 0 var(--xSmall) 0 var(--Medium);
					position: relative;
					fill: var(--Black);
					transition: all 0.15s linear;
				}

				&:hover,
				&:focus {
					color: var(--Blue);

					& svg {
						fill: var(--Blue);
					}
				}
			}

			& .logo {
				display: block;
				margin-bottom: var(--Medium);

				& svg {
					height: 120px;
					width: 300px;
					margin: 0 var(--Medium) 0 0;
					top: 0;
				}
			}
		}

		& ul {
			display: flex;
			justify-content: center;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;
			flex-wrap: wrap;


			@media(--tablet) {
				flex-wrap: nowrap;
			}

			& li {
				padding: var(--Small) var(--Medium);

				& a {
					color: var(--Black);
					text-decoration: none;
					transition: all 0.15s linear;

					&:hover,
					&:focus {
						color: var(--Blue);
					}
				}
			}
		}
	}

	& .copyright {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 90vw;

		@media(--phone) {
			flex-wrap: nowrap;
		}

		& p {
			font-size: 12px;
		}

		& ul {
			display: flex;
			justify-content: space-between;
			padding: 0;
			align-items: center;
			margin: 0 0 0 var(--Small);
			list-style: none;

			& li {
				margin: 0 var(--Small) 0 0;

				&:not(.is-button) a {
					font-size: 12px;
					display: block;
					color: var(--Black);
					text-decoration: none;
					transition: all 0.15s linear;

					&:hover,
					&:focus {
						color: var(--Blue);
					}
				}
			}
		}
	}
}