/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	height: 330px;
	background-position: center right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: relative;
	padding: var(--Large) var(--Medium) var(--Medium) var(--Medium);

	@media(--tablet) {
		padding: var(--xLarge);
	}

	@media(--laptop) {
		background-size: 80%;
	}

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(100% - 300px);
		background-image: url('../images/header-curve.svg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center right;
		width: 280px;
		height: 100%;
		content: '';
		z-index: 2;

		@media(--tablet) {
			left: 675px;
		}
	}

	&::after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: var(--White5);
		width: calc(100% - 300px);
		height: 100%;
		content: '';

		@media(--tablet) {
			width: 675px;
		}
	}

	& h1,
	& .intro {
		margin: 0;
		position: relative;
		z-index: 5;
		width: 540px;
		max-width: 100%;

		@media(--tablet) {
			width: 600px;
		}
	}

	& .intro {
		display: none;

		@media(--phone) {
			display: block;
		}
	}
}