/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: var(--xLarge) auto;
	padding: var(--Large) var(--Medium) var(--Medium) var(--Medium);
	min-height: 40vh;

	@media(--tablet) {
		padding: var(--xLarge);
		align-items: center;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--Blue);
		opacity: .8;
	}

	&.has-no-image {
		background-color: var(--Blue);

		&::after {
			display: none;
		}
	}

	&>div {
		width: 100%;
		max-width: 960px;
		position: relative;
		z-index: 2;
		color: var(--White);

		@media(--phone) {
			width: 80%;
		}

		@media(--tablet) {
			width: 65%;
		}

		& h2,
		& h3,
		& h4,
		& p {
			color: inherit;
		}

		& p {
			font-size: 24px;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}