/*-----------------------------------*\
	2 COLUMNS
\*-----------------------------------*/
.editor-2-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0;

	@media(--tablet) {
		grid-gap: 96px;
	}

	&>div {
		width: 100%;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*-----------------------------------*\
	3 COLUMNS
\*-----------------------------------*/
.editor-3-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0;

	@media(--tablet) {
		grid-gap: 96px;
	}

	&>div {
		width: 100%;

		&>*:first-child {
			margin-top: 0;
		}
	}

	@media(--tablet) {
		grid-template-columns: repeat(3, 1fr);
	}
}