section.major-list {
	& h3 {
		margin-bottom: 0;

		&+ul {
			margin-top: var(--Medium);
		}
	}

	& p.subheading {
		font-family: 'Caveat';
		font-size: 28px;
		line-height: 1.4;
		margin: 0;
		color: var(--Black70);

		&+ul {
			margin-top: var(--Medium);
		}
	}
}

/*-----------------------------------*\
	NUMBERED LIST
\*-----------------------------------*/
section.major-list.is-numbered {
	&>ol {
		list-style: none;
		counter-reset: my-number-counter;
		padding: 0;

		&>li {
			counter-increment: my-number-counter;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			&::before {
				display: block;
				content: counter(my-number-counter);
				font-weight: 700;
				font-size: 64px;
				color: var(--White40);
				min-width: 64px;
				line-height: 100px;
				color: var(--Blue);
			}

			&>div {
				width: 100%;
			}
		}
	}
}

/*-----------------------------------*\
	ALPHABETICAL LIST
\*-----------------------------------*/
section.major-list.is-alphabetical {
	&>ol {
		list-style: none;
		counter-reset: my-alphabetical-counter;
		padding: 0;

		&>li {
			counter-increment: my-alphabetical-counter;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			&::before {
				display: block;
				content: counter(my-alphabetical-counter, upper-alpha);
				font-weight: 700;
				font-size: 64px;
				color: var(--White40);
				min-width: 64px;
				line-height: 100px;
				flex-shrink: 0;
				color: var(--Blue);
			}

			&>div {
				width: 100%;
			}
		}
	}
}