/*-----------------------------------*\
	GRID LAYOUT
\*-----------------------------------*/
section.testimonials {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@media(--tablet) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&+section {
		margin-top: 96px;
	}

	& .graphic {
		width: 100%;
		flex-shrink: 0;
		order: 1;

		@media(--tablet) {
			width: 496px;
			margin-right: 32px;
			order: 0;
		}

		& img {
			width: 100%;
			display: block;
		}
	}

	& .testimonial-slider {
		width: 90%;
		flex-shrink: 1;
		position: relative;
		top: -16px;

		@media(--tablet) {
			width: 85%;
		}

		@media(--laptop) {
			width: 100%;
		}

		& .slick-track {
			display: flex;

			& .slick-slide {
				display: flex;
				height: auto;
				justify-content: center;
				padding: 0;

				@media(--tablet) {
					padding: 0 var(--Large) 0 0;
				}
			}
		}

		& .testimonial {
			padding: 0 0 var(--Medium) 0;
			height: 100%;
			text-align: left;
		}

		& button {
			position: absolute;
			bottom: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			left: 50%;
			min-width: 0;
			background-color: var(--White10);
			padding: 6px;
			transform: translateX(-40px);

			&.slick-next {
				left: 50%;
				transform: translateX(8px);
			}

			& svg {
				fill: var(--Black80);
				transition: all 0.15s linear;
			}

			&:hover,
			&:focus {
				& svg {
					fill: var(--Black);
				}
			}
		}
	}
}