/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Inbetween: 24px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Inbetween: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #FFFFFF;
	--White5: #F2F3F4;
	--White10: #E6E7E9;
	--White20: #D1D2D4;
	--White30: #BCBDC0;
	--White40: #A8A9AD;
	--Black50: #939598;
	--Black60: #808285;
	--Black70: #6C6D70;
	--Black80: #57585A;
	--Black90: #3E3E3F;
	--Black: #231F20;
	--Blue: #009EDB;
	--BlueLight: #8ED8F8;
}