/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& .page-numbers {
		display: inline-block;
		padding: var(--Small) var(--Medium) 6px var(--Medium);
		margin: 0;
		font-size: 18px;
		color: var(--Black90);
		text-decoration: none;
		cursor: pointer;
		background-color: var(--White10);
		border-radius: 8px;
		border: none;
		font-weight: 500;
		transition: all 0.35s linear;
		text-align: center;
		line-height: 1.6;
		font-family: 'Montserrat';

		&.current {
			background-color: var(--White30);
		}

		&:hover,
		&:focus {
			background-color: var(--Black50);
		}
	}
}

/*-----------------------------------*\
	MEMBER CENTER
\*-----------------------------------*/
.cat-filter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: var(--Large);

	& h6 {
		margin: 0 var(--Small) 0 0;
		color: var(--White40);
		flex-shrink: 0;
	}

	& form {
		margin: 0;
	}

	&+.post-grid {
		margin-top: 0;
	}
}

.post-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	grid-gap: var(--Large);

	@media(--phone) {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}

article.post-preview {
	padding: var(--Inbetween);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--White30);
	border-radius: 12px;

	&>* {
		flex-grow: 0;
	}

	& h2 {
		font-size: 24px;
		margin-bottom: 0;
	}

	& p.subheading {
		font-family: 'Caveat';
		font-size: 28px;
		line-height: 1.4;
		margin: 0;
		color: var(--Black70);
		position: relative;
		top: -4px;
	}

	& .entry-content {
		flex-grow: 1;
		margin: var(--Medium) 0 var(--Inbetween) 0;

		& p {
			margin: 0;
		}
	}
}