/*----------------------------------------------------------------*\
	HOME
\*----------------------------------------------------------------*/
body.home {
	& header.post-head {
		padding-top: 225px;
		height: auto;

		@media(--phone) {
			padding-top: var(--Large);
			height: 330px;
		}

		&::before {
			width: 100%;
			bottom: 0;
			left: 0;
			background-position: bottom left;

			@media(--phone) {
				width: 280px;
				bottom: 0;
				left: calc(100% - 300px);
				background-position: center right;
			}

			@media(--tablet) {
				left: 675px;
			}
		}

		&:after {
			display: none;

			@media(--phone) {
				display: block;
			}
		}

		& h1 {
			position: relative;
			top: -220px;

			@media(--phone) {
				top: 0;

				& span {
					display: inline-block
				}
			}
		}

		& .intro {
			position: relative;
			top: -220px;

			@media(--phone) {
				top: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	DONATIONS
\*----------------------------------------------------------------*/
body.page-id-427 {
	& section.editor-2-column:first-child {
		&>div:first-child {
			order: 2;
		}

		&>div:last-child {
			order: 1;
		}

		@media(--tablet) {
			&>div:first-child {
				order: 1;
			}

			&>div:last-child {
				order: 2;
			}
		}
	}
}

#gform_wrapper_8 {
	& #field_8_6 {
		margin-top: 48px;
	}

	& #field_8_8 {
		display: list-item;
		margin-top: -20px;
		margin-left: 6px;
		width: calc(100% - 6px);

		& input {
			padding: var(--xSmall);
			border: 2px solid var(--White10);
			font-family: 'Caveat';
			font-size: 20px;
			line-height: 1;
			border-radius: 8px;
			box-shadow: none;
			margin-top: 8px;

			&:focus {
				border-color: var(--Blue);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	CURRICULUM
\*----------------------------------------------------------------*/
body.page-id-433 {
	& #section-4.editor {
		margin-bottom: 0;
	}

	& #section-5.major-list {
		margin-top: 0;
	}
}