/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: var(--White5);

	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 95vw;
		padding: var(--Small) 0;

		& svg {
			height: 52px;
			width: 150px;
		}

		& button.toggle-menu {
			min-width: 0;

			@media(--tablet) {
				display: none;
			}
		}

		& .menu-primary-navigation-container {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: calc(100vh - 75px);
			transform: translateY(100%);
			background-color: var(--White);
			padding: var(--Medium);
			transition: all .35s ease-in-out;
			z-index: 10;

			@media(--tablet) {
				position: initial;
				width: auto;
				height: auto;
				transform: none;
				background-color: transparent;
				padding: 0;
			}

			&.is-active {
				transform: translateY(0);
			}

			& ul {
				display: block;
				justify-content: space-between;
				padding: 0;
				align-items: center;
				margin: 0;
				list-style: none;

				@media(--tablet) {
					display: flex;
				}

				& li {
					padding: var(--Medium);

					@media(--tablet) {
						padding: var(--Small) var(--Medium);
					}


					&:last-child {
						padding-right: 0;
					}

					&.is-button a {
						color: var(--Blue);

						@media(--tablet) {
							display: inline-block;
							padding: var(--Small) var(--Medium) 6px var(--Medium);
							margin: 0;
							font-size: 18px;
							color: var(--White);
							text-decoration: none;
							cursor: pointer;
							background-color: var(--Blue);
							border-radius: 8px;
							border: none;
							font-weight: 500;
							transition: all 0.35s linear;
							min-width: 130px;
							text-align: center;
							line-height: 1.6;
							font-family: 'Montserrat';

							&:hover,
							&:focus {
								background-color: #007eaf;
							}
						}
					}

					&.is-icon {
						overflow: hidden;
						text-indent: -999999px;

						& a {
							display: flex;

							&::after {
								width: 28px;
								height: 28px;
								display: block;
								content: '';
								background-size: contain;
								background-position: center;
							}
						}

						&.is-profile a::after {
							background-image: url('../images/icon-profile.svg');
						}
					}

					& a {
						font-weight: 800;
						text-transform: uppercase;
						line-height: 1;
						font-size: 32px;
						color: var(--White40);
						text-decoration: none;
						transition: all 0.15s linear;

						@media(--tablet) {
							color: var(--Black);
							font-weight: 400;
							text-transform: none;
							font-size: initial;
						}

						&:hover,
						&:focus {
							color: var(--Blue);
						}
					}
				}
			}
		}
	}
}